<ul class="sidebar-menu">
    <!-- Optionally, you can add icons to the links -->
    <li class="header">PRODUCTS</li>
    <li class="active"><a href="/manage/products"><i class="fa fa-cubes"></i> <span>Products</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-plus"></i> <span>Add Product</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/manage/addproduct?type=Map">Map</a></li>
            <li><a href="/manage/addproduct?type=Dashboard">Dashboard</a></li>
            <li><a href="/manage/addproduct?type=Report">Report</a></li>
            <li><a href="/manage/addproduct?type=Infograph">Infograph</a></li>
            <li><a href="/manage/addproduct?type=Other">Other</a></li>
        </ul>
    </li>

    <li class="header">DATA</li>
    <li><a href="#"><i class="fa fa-database"></i> <span>Datasets</span></a></li>
    <li><a href="#"><i class="fa fa-upload"></i> <span>Append Data</span></a></li>

    <li class="header">MAIL</li>
    <li><a href="/manage/inbox"><i class="fa fa-inbox"></i> <span>Inbox</span></a></li>
    <li><a href="/manage/compose"><i class="fa fa-envelope"></i> <span>Compose</span></a></li>
    <li><a href="/manage/notifications"><i class="fa fa-bell"></i> <span>Notifications</span></a></li>
</ul>

