@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="background-color: #48b5e1; padding: 40px 0;">
    <div class="col-md-10 col-md-push-1">
        <h1>iMPROVE</h1>
        <p class="lead">iMMAP PROducts catalog and VErsion control</p>
        <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
</div>
