<ul class="sidebar-menu">
    <li class="header">DELIVERABLES</li>
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Products</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Training & Support</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Data</span></a></li>

    <li class="header">USERS</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span>IM Oficers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Mohammed Sallam</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user-secret"></i> <span>Administrators</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Mohammed Sallam</a></li>
        </ul>
    </li>
    <li class="header">MESSAGING</li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Messages</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Compose</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Notify</span></a></li>
    <li class="header">REVIEWS</li>
    <li><a href="#"><i class="fa fa-link"></i> <span>New Products</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Delete Requests</span></a></li>
    <li class="header">SETTINGS</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Programs</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Offices</a></li>
            <li><a href="#">Programs</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Options</span></a></li>
</ul>

