<ul class="sidebar-menu">
    <!-- Optionally, you can add icons to the links -->
    <li class="header">PRODUCTS</li>
    <li class="active"><a href="#"><i class="fa fa-cubes"></i> <span>Products</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-plus"></i> <span>Add Product</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Map</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Infograph</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </li>

    <li class="header">ACTIVITIES</li>
    <li><a href="#"><i class="fa fa-book"></i> <span>Training & Support</span></a></li>
    <li><a href="#"><i class="fa fa-book"></i> <span>Work Trips</span></a></li>

    <li class="header">DATA</li>
    <li><a href="#"><i class="fa fa-database"></i> <span>New Dataset</span></a></li>
    <li><a href="#"><i class="fa fa-upload"></i> <span>Append Data</span></a></li>

    <li class="header">MISC.</li>
    <li><a href="#"><i class="fa fa-comments"></i> <span>Messages</span></a></li>
    <li><a href="#"><i class="fa fa-edit"></i> <span>Compose</span></a></li>
    <li><a href="#"><i class="fa fa-comments"></i> <span>Notifications</span></a></li>
</ul>

