@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section id="view-container">
    @Html.Partial("Products")
</section>

@section SideMenu {
    @Html.Partial("~/Views/Manage/_SideMenu.cshtml")
}