<ul class="sidebar-menu">
    <li class="header">PRODUCTS</li>
    <li class="active"><a href="#"><i class="fa fa-cudes"></i> <span>Products</span></a></li>
    <li><a href="#"><i class="fa fa-database"></i> <span>Data</span></a></li>

    <li class="header">REVIEWS</li>
    <li><a href="#"><i class="fa fa-link"></i> <span>New Products</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Delete Requests</span></a></li>

    <li class="header">USERS</li>
    <li><a href="#"><i class="fa fa-fa-users"></i> <span>IMOs</span></a></li>
    <li><a href="#"><i class="fa fa-fa-black-tie"></i> <span>Managers</span></a></li>
    <li><a href="#"><i class="fa fa-fa-user-secret"></i> <span>Administrators</span></a></li>

    <li class="header">MISC.</li>
    <li><a href="#"><i class="fa fa-envelope"></i> <span>Messages</span></a></li>
    <li><a href="#"><i class="fa fa-edit"></i> <span>Compose</span></a></li>
    <li><a href="#"><i class="fa fa-bell"></i> <span>Notifications</span></a></li>

    <li class="header">SETTINGS</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-suitcase"></i> <span>Programs</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Regional Offices</a></li>
            <li><a href="#">Programs</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gear"></i> <span>Settings</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Administrative Chain</a></li>
            <li><a href="#">Options</a></li>
        </ul>
    </li>
</ul>

